//*-----------------------------------------------
//* Main nav 
//*-----------------------------------------------
.main-nav{
	width: 960px;
	margin: 0 auto;
	// Temporary logo until we get one
	.logo{
		.fa{
			@include text-shadow(5px 5px 5px $light-grey,15px 15px 5px $light-grey);
		}
	}
	.nav{
		@include border-radius(100%);
		margin-bottom: 5px;
		li{
			&:nth-of-type(1) .nav-link {
		    	color: $red
		    }
		    &:nth-of-type(2) .nav-link{
		    	color: $orange
		    }
		    &:nth-of-type(3) .nav-link{
		    	color: $blue
		    }
		    &:nth-of-type(4) .nav-link{
		    	color: $green
		    }
		    &.selected{
		    	.nav-link{
		    		@include border-bottom-right-radius(4px);
		    		@include border-bottom-left-radius(4px);
		    		background: $dark-green;
		    		color: $white;	
		    	}
		    }
		}
	}
	.nav-link{
		@include size(150px,80px);
		background: $white;
		text-align: center;
		text-decoration: none;
		line-height: 10px;
	    [class*='fa-']{
	    	display: block;
	    	font-size: 3em;
	    	line-height: 1.6em;
	    }
	}
}