<h2>Hooray!!</h2>

<p class="confirmation-message">
  <strong>
  <% if @spokesman_change %>
  Has cambiado de portavoz.
  <% else %>
  Has elegido a tu portavoz.
  <% end %>
  </strong>
  Si nadie lo remedia en 5 segundos te llevaremos a la página de tu portavoz.
</p>


<script type="text/javascript" charset="utf-8">
  var t = setTimeout("top.document.location.href = '<%= user_path current_user.spokesman %>'", 5000);
</script>

