<section id="user_list">
	<header>
		<h2>Usuari@s presentes en AgoraOnRails</h2>
		<p>
			Puedes delegar tu voto en ell@s para las propuestas en las que no votes directamente.
		</p>
	</header>
	<% for user in @users do %>
		<article class="user">
			<header>
				<h3 class="name"><%= link_to user.name, user %></h3>
			</header>
			
			<p class="link"> <%= user.link %></p>
		</article>
	<% end %>
</section>