<section id="user_list">
	<header>
		<h2><%= t(:present_users) %></h2>
		<p>
			<%= t(:can_delegate_vote) %>
		</p>
	</header>
	
	<% for user in @users do %>
		<article class="user">
			<header>
				<h3 class="name"><%= link_to user.name, user %></h3>
			</header>
			
			<p class="link"> <%= user.link %></p>
		</article>
	<% end %>
</section>