<% @title = t(:heading_users) %>
<div class="grid-wrapper">
  	<div class="grid one-whole">
		<h2 class="proposals-heading"><%= t(:heading_users) %></h2>
		<h6 class="zeta"><%= t(:description_users) %></h6>
	</div>
  <div class="grid one-whole">
  	<%= render :partial => 'user', :collection => @users %>
  </div>
</div>

