<% @title = "#{@user.login}" %>
<section id="content">
  <ul id="breadcrumb">
    <li><a href="/">Inicio »</a></li>
    <li><%= link_to "Proposiciones", proposals_path %></li>
    <li><%= link_to "Usuarios", users_path %></li>
  </ul>
  
  <% form_for @user, :url => choose_as_spokesman_user_path(@user) do |f| -%>
    <%= submit_tag "Elegir a #{h @user.login} como mi portavoz", :id => "choose_spokesman_button", :class => "make-my-spokesman" %>
  <% end -%>
  
  <%= render :partial => "proposal", :collection => @proposals %>
</section>
