/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
    overflow-y:scroll;
    min-height:100%;
}
//*-----------------------------------------------
//* Colors 
//*-----------------------------------------------
$white: #fff;
$dark-green: #505951;
$green: #89bdb4;
$light-green: #80ab5b;
$red: #eb4d3b;
$orange: #f8a239;
$blue: #40c8f2;
$light-grey: #F6F6F6;