<section id="content">
  <nav>
    <ul>
      <li><%= link_to "Hot!", "#hot_proposals" %></li>
      <li><%= link_to "Recién tramitadas", "#recently_closed" %></li>
    </ul>
  </nav>  
  <section id="hot_proposals">
    <%= render :partial => 'proposals/proposal', :collection => @hot_proposals %>
  </section>
  
  <section id="recently_closed">
    <%= render :partial => 'proposals/proposal', :collection => @recently_closed %>
  </section>
</section>


