<%= form_for @spokesman, :url => spokesman_url(:id => @spokesman.id) do |f| -%>
  <p class="actions">
    <%= submit_tag t(:i_am_sure), :class => "make-my-spokesman" %>
    <%= t(:or_well)%> 
    <%= link_to t(:think_more), proposal_path(@proposal), class: "oh-no" %>
  </p>
<% end %>
