<%= form_for @spokesman, :url => spokesman_url(:id => @spokesman.id) do |f| -%>
  <p class="actions">
    <span>
      <%= submit_tag t(:i_am_sure), :class => "make-my-spokesman-submit" %>
      <%= t(:or_well)%> 
      <%= link_to t(:think_more), user_url(@spokesman), class: "oh-no" %>
    </span>
  </p>

<% end %>
