.claim{
	padding: 60px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: inherit;
	background: #F8FFF5 url('/assets/logi.png') right bottom no-repeat;
	background-size: 100px;
	@include border-radius(5px);
}




