//*-----------------------------------------------
//* Header and mainHeader 
//*-----------------------------------------------
.main-header{
	height: 80px;
}
.logo{
	display: inline-block;
	float: left;
}