.vote-results{
  .list-graphic{
    margin: 0;
    width: 100%;
  }
}
.vote-results ul li {
  background: none;
  padding: 2px 0;
  border: none;
  height: 1%;
  overflow: hidden;
  > small{
    display: inline-block;
    font-size: 1em;
    line-height: 2em;
    padding-left: 1em;
  }
}

.vote-results ul li strong {
  display: inline;
  float: left;
  padding: 7px 25px 7px 10px;
  background: #666;
  color: #FFF;
  text-shadow: 1px 1px 1px #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 1px;
}

.vote-results ul li span {
  float: left;
}

.vote-results ul li.in_favor strong {
  background: $light-green;
}

.vote-results ul li.against strong {
  background: $red;
}
.vote-results ul li.abstention strong {
  background: $orange;
}