<div class="proposal-vote-choices">
  <fieldset>
    <strong><%= t :vote_proposal %></strong>
    <%= link_to "<button class='si'><span>#{t(:yes_option)}</span></button>".html_safe,         new_proposal_vote_path(@proposal, value: "si"),         class: "vote-value"  %>
    <%= link_to "<button class='no'><span>#{t(:no_option)}</span></button>".html_safe,          new_proposal_vote_path(@proposal, value: "no"),         class: "vote-value"  %>
    <%= link_to "<button class='abstencion'><span>#{t(:abstention)}</span></button>".html_safe, new_proposal_vote_path(@proposal, value: "abstencion"), class: "vote-value"  %>
  </fieldset>
</div>