<% if vote.explanation.present? %>
   <%= div_for vote do %>
     <p class="login">
       <%= link_to vote.user.name, vote.user %>
     </p>
     <%= auto_link simple_format(vote.explanation, :class => 'explanation'), html: {target: '_blank'} %>
   <% end %>
<% end %>
