<%= form_tag proposal_path(@proposal), :method => :get do %>
  <p>Calcula el voto de los representantes:</p>
  <p>
  <%= label_tag 'numero de representantes'%>
  <%= text_field_tag 'representative_count' %>
  </p>
  <%= submit_tag 'Calcular'%>
<% end %>