
<section id="content">
  <strong><%= proposals_heading %></strong>
  <% @proposals.each do |proposal| %>
  <article class="proposal">
    <section class="proposal-content">
      <header>
        <hgroup>
          <h2 class="title"><%= link_to proposal.title, proposal %></h2>
          <h3>
            Presentado por: <a class="proposer" href="#"><%= proposal.proposer.name %></a> 
            el <span class="proposed_at"><%= l proposal.proposed_at, :format => :long %></span>
          </h3>
        </hgroup>
      </header>
    </section>
  </article>
  <% end %>
</section>
