
<section id="content">
  <strong>Propuestas</strong>
  <% @proposals.each do |proposal| %>
  <article class="proposal">
    <section class="proposal-content">
      <header>
        <hgroup>
          <h2><%= link_to proposal.title, proposal %></h2>
          <h3>Presentado por: <a href="#">Grupo Mixto</a> el 24 de abril de 2010</h3>
        </hgroup>
      </header>
    </section>
  </article>
  <% end %>
</section>
