<% @title = proposals_heading %>
<section id="content">
  <ul id="breadcrumb">
    <li><a href="/"><%= t(:start) %> »</a></li>
    <li><%= link_to t(:proposals), proposals_path %></li>
  </ul>

  <header class="proposal-head">
    <strong><%= proposals_heading %></strong>
  </header>
  
  <%= render :partial => 'shared/proposal', :collection => @proposals %>
</section>
