<div>
  <h3><%= t(:review_vote)%></h3>

  <p class="confirmation-message">
    <strong><%= confirmation_text(params[:value]) %></strong>

    <%= t(:the_proposal, :title => @proposal.title) %>
    <p style="text-align:center"><%= render 'form' %>

  </p>
</div>