<div>
  <h3><%= t(:review_vote)%></h3>

  <p class="confirmation-message">
    <strong><%= confirmation_text(params[:value]) %></strong>
    <%= t(:the_proposal, :title => @proposal.title) %>
    <p>Si quieres puedes a침adir una explicaci칩n y un link con m치s informaci칩n.</p>
    <%= render 'form' %>
  </p>
</div>