<h2><%= t(:hooray)%></h2>

<p class="confirmation-message">
  <strong><%= t :vote_counted %></strong>

  <%= t :vote_redirect %>
</p>

<script type="text/javascript" charset="utf-8">
  var t = setTimeout("top.document.location.href = '<%= proposal_path @proposal %>'", 5000);
</script>
