<h2>Hooray!!</h2>

<p class="confirmation-message">
  <strong>Tu voto ha sido contabilizado.</strong>
  <p><%= share_on_facebook_link(@proposal) %></p>
  <p><%= share_on_twitter_link(@proposal) %></p>
</p>
