<h2>Autenticación con DNIe requerida</h2>

<section id="login-section">
  <%= raw(identity_verification_gateway("Identifícate con tu DNIe", ENV["TRACTIS_API_KEY"], :action => 'authenticate')) %>
</section>

