<nav class="main-nav float--right">
  <ul class="nav">
    <%= menu_link t(:nav_start), root_path, 'icon-fire' %>
    <%= menu_link t(:nav_recently_closed), closed_proposals_path, 'icon-bullhorn' %>
    <%= menu_link t(:nav_proposals), proposals_path, 'icon-file-text' %>
    <%= menu_link t(:nav_users), users_path, 'icon-group' %>
  </ul>
</nav>